.matrix{
	width			: 301px;
	height			: 301px;
	margin			: 0 auto;
	border-right	: 1px solid gray;
	border-bottom	: 1px solid gray;
	margin-top		: 1em;
}
.square:hover{
	color				: white;
	background-color	: #cccccc;
	cursor				: pointer;
}
.square{
	width		: 100px;
	height		: 100px;
	border-left	: 1px solid gray;
	border-top	: 1px solid gray;
	float		: left;
}
.large, .square{
	font-size	: 60pt;
}
.al{
	width	: 80px;
	display	: inline-block;
}
.error{
	color	: red;
}
